<div class="about-page-container">
    <div class="row">
        <div class="col">
            <h1 class="my-about-title">About This Project</h1>
            <p class="h3 my-about-desc">Technologies Used:</p>
            <p class="h4 my-about-desc">
                Azure Cloud Web Application<br />
                ASP.Net Core MVC with C#<br />
                HTML, CSS, JavaScript and Bootstrap
            </p>
        </div>
    </div>

    <div class="row" id="about">
        <div class="col-xs-12 col-md-11 col-lg-9 text-justify">
            <h3>Key Points</h3>
            <h1>
                <strong>ASP.NET Core</strong><br />
               
            </h1>
            <p>backjack developed using ASP.NET Core, C#, Web Page, MVC</p>
        </div>
    </div>
</div>