@*@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@

<div class="contact-page-container">
    <div class="row">
        <div class="col">
            <h1 class="my-contact-title">Contact Me</h1>

            <h3 class="my-contact-desc">Please feel free to contact me about this project at:</h3>

            <h3 class="email-txt">A@B.com</h3>
        </div>
    </div>
</div>